<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Job_Porta</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<servlet-class>controller.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CSignupServlet</servlet-name>
  	<servlet-class>controller.CSignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CSignupServlet</servlet-name>
  	<url-pattern>/CSignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OptionServlet</servlet-name>
  	<servlet-class>controller.OptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OptionServlet</servlet-name>
  	<url-pattern>/OptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BidServlet</servlet-name>
  	<servlet-class>controller.BidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BidServlet</servlet-name>
  	<url-pattern>/BidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NewProjectServlet</servlet-name>
  	<servlet-class>controller.NewProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewProjectServlet</servlet-name>
  	<url-pattern>/NewProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SearchProjectServlet</servlet-name>
  	<servlet-class>controller.SearchProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SearchProjectServlet</servlet-name>
  	<url-pattern>/SearchProjectServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>HireServlet</servlet-name>
  	<servlet-class>controller.HireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HireServlet</servlet-name>
  	<url-pattern>/HireServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>SelectBidServlet</servlet-name>
  	<servlet-class>controller.SelectBidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SelectBidServlet</servlet-name>
  	<url-pattern>/SelectBidServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddSolutionServlet</servlet-name>
  	<servlet-class>controller.AddSolutionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddSolutionServlet</servlet-name>
  	<url-pattern>/AddSolutionServlet</url-pattern>
  </servlet-mapping>  
</web-app>